@import "~antd/dist/antd.less";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

header,
footer {
  min-height: 10vh;
}

.header {
  background-color: #fff;
  .logo {
    height: 100%;
  }
}

.none {
  display: none;
}

.content {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  min-height: 80vh;
}
.searchParams {
  .ant-input-group-wrapper {
    margin-top: 10%;
    width: 60%;
  }
  .select-width {
    width: 60%;
    margin-top: 50px;
    .ant-select {
      width: 80%;
    }
    .ant-btn {
      width: 20%;
    }
  }
}
.results {
  padding-top: 2%;
  padding-right: 2%;

  .pagination {
    p {
      font-size: 18px;
      font-weight: 600;
      margin-right: 20px;
      font-family: Nunito, sans-serif;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade {
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  animation: fadeIn ease 2s;
}
.MealThumbnail {
  padding: 10px;
  overflow: hidden;

  .ant-ribbon {
    font-size: 18px;
    height: 30px;
    line-height: 30px;

    &:hover {
      background-color: royalblue;
      text-decoration: underline;
      transition: background-color 500ms linear;
    }

    .ant-ribbon-text {
      a {
        color: #fff;
      }
    }
  }

  .ant-badge-count {
    height: 24px;
    font-size: 14px;
    line-height: 24px;
  }

  .imgContainer {
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .tags {
      position: absolute;
      bottom: 3%;
      left: 5%;
      height: 30px;
      display: flex;
      flex-flow: row wrap-reverse;

      .ant-badge {
        margin: 5px;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      width: 100%;
      transition: transform 0.5s ease;
    }
    img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  p {
    font-weight: 700;
    color: #2c2d2f;
    font-size: 24px;
    line-height: 32px;
    font-family: Nunito, sans-serif;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-top: 10px;
  }
}

.recipe-details {
  padding: 1% 5%;
  .recipe-header {
    justify-content: space-evenly;
    margin: 20px 5px;
    .title h1 {
      font-size: 24px;
      font-weight: 600;
    }
    .category-col > div,
    .tags-col > div {
      display: inline-flex;
      margin: 0 5px;
      font-size: 20px;
      .ant-badge {
        margin-left: 10px;
        .ant-badge-count {
          font-size: 18px;
          height: 25px;
          line-height: 25px;
        }
      }
    }
  }
  .photo-video {
    .photo,
    .video {
      display: flex;
      justify-content: center;
    }
    img {
      width: 50%;
    }
  }
  .ingredients-instructions {
    font-family: Nunito, sans-serif;

    .ingredients {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      .ingredients-list {
        display: inline-flex;
        flex-direction: column;
        .single-ingredient {
          display: inline-flex;
          span {
            font-size: 20px;
          }
        }
        .checked {
          text-decoration: line-through;
        }
      }
    }

    .instructions {
      margin-top: 20px;
      p {
        white-space: pre-line;
        font-size: 16px;
      }
    }
  }
}

.catergory-detail {
  padding: 10px 5%;

  .MealThumbnail {
    p {
      margin-bottom: 0;
    }
  }
}
